# Raiz de configuracion y datos del runtime de FactuCore
FACTUCORE_HOME=D:/factucore

# Puertos publicados en el servidor
POSTGRES_PORT=5432
KEYCLOAK_PORT=8180
KAFKA_PORT=9092
FACTURADOR_PORT=8081
NOTIFICACION_PORT=8082

# PostgreSQL
POSTGRES_DB=factucore
POSTGRES_USER=factucore
DB_URL=jdbc:postgresql://db_factucore:5432/factucore
DB_USERNAME=factucore

# Keycloak
KC_BOOTSTRAP_ADMIN_USERNAME=admin

# Facturador
FACTUCORE_SEGURIDAD_HABILITADA=false
FACTUCORE_SEGURIDAD_OAUTH2_ISSUER_URI=http://auth-server:8080/realms/factucore
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
FACTUCORE_SRI_AMBIENTE=PRUEBAS
