# Configuracion local de FactuCore.
# Este archivo se crea como compose/.env y NO se versiona.

FACTUCORE_HOME=C:/factucore

VAULT_PORT=8200

# PostgreSQL
POSTGRES_PORT=5432
FACTUCORE_POSTGRES_ADMIN_PASSWORD=

# Bases de datos
FACTURADOR_DB_NAME=db_factucore
FACTURADOR_DB_USERNAME=usr_factucore

AUTH_DB_NAME=db_auth
AUTH_DB_USERNAME=usr_auth

NOTIFICACIONES_DB_NAME=db_notificaciones
NOTIFICACIONES_DB_USERNAME=usr_notificaciones

# Credenciales PostgreSQL para Vault
FACTUCORE_POSTGRES_FACTURADOR_PASSWORD=
FACTUCORE_POSTGRES_AUTH_PASSWORD=
FACTUCORE_POSTGRES_NOTIFICACIONES_PASSWORD=

# Puertos de servicios
KEYCLOAK_PORT=8180
KAFKA_PORT=9092
FACTURADOR_PORT=8081
NOTIFICACION_PORT=8082

# Keycloak
KC_BOOTSTRAP_ADMIN_USERNAME=admin
FACTUCORE_KEYCLOAK_ADMIN_PASSWORD=

# Seguridad
FACTUCORE_SEGURIDAD_OAUTH2_ISSUER_URI=http://auth.factucore.local:8180/realms/facturador
FACTUCORE_SEGURIDAD_OAUTH2_JWK_SET_URI=http://auth-server:8080/realms/facturador/protocol/openid-connect/certs

# Mensajeria
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# SRI
FACTUCORE_SRI_AMBIENTE=PRUEBAS

FACTUCORE_CONFIGURACION_ZONA_HORARIA=America/Guayaquil
