# Configuracion local de FactuCore.
# Este archivo se crea como compose/.env y NO se versiona.

FACTUCORE_HOME=D:/factucore
VAULT_PORT=8200

POSTGRES_PORT=5432
KEYCLOAK_PORT=8180
KAFKA_PORT=9092
FACTURADOR_PORT=8081
NOTIFICACION_PORT=8082

POSTGRES_DB=factucore
POSTGRES_USER=usr_factucore
DB_URL=jdbc:postgresql://db_factucore:5432/factucore
DB_USERNAME=usr_factucore

KC_BOOTSTRAP_ADMIN_USERNAME=admin

FACTUCORE_SEGURIDAD_HABILITADA=false
FACTUCORE_SEGURIDAD_OAUTH2_ISSUER_URI=http://auth-server:8080/realms/factucore
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
FACTUCORE_SRI_AMBIENTE=PRUEBAS
